    /* .col-sm-9 h2{
        color: blueviolet;
        
    } */

    mark1{
    background-color: lightgray;
    color: blueviolet;
    font-weight: bold;
    font-size: 36px;
    margin-left: 35 px;
    
    }
    

    mark {
        background-color: white;
        color: blueviolet;

    }
    
    .thumbnail{
        float: left;
        margin-left: 20px; 
        height: 150px; 
        width: 200px;
        padding: 5px;
    }

    /* .main-row{
        clear: both;
        margin-right: -100px;
        margin-left: -15px;
        

    }  */

    #text{
    border: 1px solid pink;
      
    }

    /* .container{
        background-color: #EEEAEA;
        width: 60%;
        margin-left: 50px;
        float: left;
    } */

     /* .container2{
          
         float: right;  
         font-weight: bold; 
         margin-right: 50px;   
     } */
     
    /* .col-sm-3{
        clear:both;
        float: right;
        width: 20%;    
        font-weight: bold;  
        
        
        color: blueviolet;  
       
    } */

    #connect{
        clear: both;
        font-size: 30px;
    }

    #ConnectContact{
        clear: both;
        font-size: 30px;
        margin-top: -500px;
      
    }

    #connectAbout{
    clear: both;
    background-color: lightgray;
    color: blueviolet;
    font-weight: bold;
    font-size: 36px;
    margin-top: 0px;
    margin-right: 50px;



    }

    .navbar-fixed-bottom{
        clear: both;
        text-align: center;
        background-color: #D8F6F0;
        font-weight: bold;
        margin-top: 25px;
    }

    #contact{
        font-size: 30px;
        font-weight:bold;
        color: purple;
        margin-left: 0px;
        margin-top: 20px;
        background-color: #EEEAEA;
        
    }
    
    /* .col-sm-7 H2 {
    color: blueviolet;      

    } */

    #exampleInputMessage1{
        height: 200px;
    }

    .portfolioHeader{
        font-size: 30px;
        font-weight:bold;
        color: blueviolet;
        margin-left: 0px;
        margin-top: 20px;
        background-color: #EEEAEA;
        

    }

    /* .leftpics{
        margin-left: -110px;
        text-align: left;
        height: 200px;
        width: 250px;

    }

    .rightpics{
        margin-left: -300px;
        text-align: leftba;
        height: 200px;
        width: 250px;

    } */

    .leftcaption{

             

    }

    /* .rightcaption{
        margin-left: 15px;
        margin-top: -200px;
        background-color: #EEEAEA;
        height: 105px;
             
    } */

    #hangman{
        background-color: #EEEAEA;
        margin-top: -200px; 
        text-align: center;
        vertical-align: center;
    }

    .copyright{
        text-align: center;
        margin-top: 10px;
    }


    .left-content,
    .right-content {
        background-color: #eaeaea;
    }

    .left-content {
        margin-right: 0px;
    }